<div class="container p-3 mt-5 bg-primary">
    <div class="card-group">
  <div class="card rounded border border-1 border-primary">
    <img src="img/BTC.jpeg" class="card-img-top p-1" alt="Imagen de un Bitcoin">
    <div class="card-body">
      <h5 class="card-title fw-bolder">Bitcoin</h5>
      <p class="card-text text-justify">Bitcoin ha ganado respetabilidad entre los inversionistas institucionales, asegura SkyBridge y lo resume con la frase «Wall Street recibe a Bitcoin». Como soporte de esta afirmación, la firma coloca citas de JPMorgan, BlackRock, Citi Bank, Deutsche Bank y Morgan Stanley, entre otros, que resaltan el potencial de bitcoin como activo refugio o como medio de diversificación de portafolios.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card rounded border border-1 border-primary">
    <img src="img/ETH.jpeg" class="card-img-top p-1" alt="Imagen de un Ethereum">
    <div class="card-body">
      <h5 class="card-title fw-bolder">Ethereum</h5>
      <p class="card-text text-justify">Más de 2 millones de ethers ahora se encuentran depositados en los contratos inteligentes de Ethereum 2.0, según muestran datos de EtherScan.io. La cifra ha sido alcanzada a menos de un mes del lanzamiento de su fase 0, superando así las expectativas de participación que se tenían para la nueva red.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card rounded border border-1 border-primary">
    <img src="img/XRP.jpeg" class="card-img-top p-1" alt="Imagen de una criptomoneda XRP">
    <div class="card-body">
      <h5 class="card-title fw-bolder">XRP</h5>
      <p class="card-text text-justify">Mientras que Bitcoin y otras criptodivisas basadas en blockchain no paran de subir estas últimas semanas, una de ellas lo está pasando realmente mal. Concretamente se trata de XRP y en especial la empresa detrás de ella, Ripple.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
</div>