<div class="container p-1 mt-5 mb-5 bg-primary" id="cont-form2">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <form class="mt-5 mb-5" id="form-cont">
                <fieldset>

                    <div class="form-group">
                        <label for="date-start" class="text-white">Nombre Completo</label>
                        <input type="text" class="form-control" id="date-start" aria-describedby="emailHelp"
                            placeholder="introduzca nombre completo" name="fname" required>
                        <small id="emailHelp" class="form-text text-muted">Ej. Alfredo Zapata</small>
                    </div>
                    
                    <div class="form-group">
                        <label for="date-end" class="text-white">Dirección de Correo Electrónico</label>
                        <input type="email" class="form-control" id="date-end" placeholder="introduzca email"
                            name="eMail" required>
                        <small id="emailHelp" class="form-text text-muted">Ej. alfredozapata@yahoo.com</small>
                    </div>

                    <div class="form-group">
                        <label for="date-end" class="text-white">Número Telefónico</label>
                        <input type="tel" class="form-control" id="date-end" placeholder="+5491178451289" name="phone"
                            required>
                        <small id="emailHelp" class="form-text text-muted">Ej. +5491122334455</small>
                    </div>

                    <div class="form-group">
                        <label for="exampleTextarea" class="text-white">Mensaje</label>
                        <textarea class="form-control" id="exampleTextarea" rows="3"
                            style="margin-top: 0px; margin-bottom: 0px; height: 83px;"></textarea>
                    </div>


                    <button type="submit" class="btn btn-primary border border-white">Enviar</button>
                </fieldset>
            </form>
        </div>

    </div>
</div>

<br>
<br>