<div class="container mt-5" id="cont-spinner">
  <div class="row"></div>
  <div class="row row align-items-center">
    <div class="col">
      <div class="d-flex justify-content-center text-success col-lg-12 col align-self-center">
        <strong>Cargando datos por favor espere..</strong>
        <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
      </div>
    </div>
  </div>
</div>